$room-background-white: #ffffff;
$room-background-grey: #cccccc;
$room-background-red: #b71c1c;
$room-background-dark-blue: #0d47a1;
$room-background-medium-blue: #1e88e5;;
$room-background-light-blue: #90caf9;;