.controlview-main {
  height: 3em;
  width: 100%;
  background-color: #EFEFF4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0em;

  .datetime-container{
    display: flex;
    flex-direction: row;

    .end-date-time-view {
      margin-left: 2em;
    }
  }

  .sliderview {
    
  }
}