.dashboardview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .dashboardview-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 3em;
  }
}