.datetimeview-main {
  &:hover {
    cursor: pointer;
  }

  .datetimeview-background {
    background-color: white;
    padding: 0.5em;
    border-radius: 5px;
  }

  .datetimeview-textvalue-area {
    border: none;
    text-align: right;
    width: 10em;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}