.B {
  // pointer-events:none;
}

.C {
  stroke-miterlimit:10;
}

.D {
  fill:#fff;
}

.E {
  fill:none;
}

.F {
  fill:#f5f5f5;
}

.G {
  stroke:#666;
}

.H {
    fill:#333;
}

.I {
  text-anchor:middle;
}

.J {
  font-size:12px;
}

.K {
  font-family:Helvetica;
}

.L {
  stroke:#000;
}