@import "color";

.roomview {
  &:hover {
    cursor: pointer;
  }

  .room-background-white {
    fill: $room-background-white;
  }

  .room-background-grey {
    fill: $room-background-grey;
  }

  .room-background-red {
    fill: $room-background-red;
  }
  
  .room-background-darkBlue {
    fill: $room-background-dark-blue;
  }

  .room-background-mediumBlue {
    fill: $room-background-medium-blue;
  }

  .room-background-lightBlue {
    fill: $room-background-light-blue;
  }

  .room-text {
    text-anchor: middle;
    fill: #333;
    font-family: Helvetica;
    font-size: 2em;
    font-weight: 700;
  }
}
