.room {
  &:hover {
    cursor: pointer;
  }
  
  .room-background {
    fill:#f5f5f5;
  }
  
  .room-text {
    text-anchor:middle;
    fill:#333;
    font-family:Helvetica;
    font-size:12px;
  }
}